/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  margin: auto;
  padding: 0.52083vw;
  width: 100%;
}

body * {
  font-size: var(--normalsize);
  font-family: 'Circular Std', sans-serif;
  color: var(--comet);
  /* firefox scroll */
  scrollbar-color: var(--portage) var(--zircon);
  scrollbar-width: thin;
}

/* webkit scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(var(--bluedianne), 0.2) inset;
  background-color: var(--zircon);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      var(--hotpink),
      var(--portage));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,
      var(--portage),
      var(--hotpink));
  ;
}

/* webkit scroll */

button {
  border-radius: var(--borderradius);
}

a {
  color: var(--mirage);
  text-decoration: none;
}

a:hover {
  color: var(--portage);
}

h1 {
  color: var(--mirage);
  font-weight: 900;
  font-size: var(--largesize);
}

/* Main */
.background-icons>img {
  position: absolute;
}

.background-icons>img:hover {
  scale: 1.1;
}

.white-ball {
  left: 82.99375vw;
  opacity: 0.7;
  top: 12.01875vw;
  width: 7.65vw;
}

.medium-ball {
  left: 4.58vw;
  top: 10.72916vw;
  width: 5.40625vw;
}

.small-ball {
  left: 69.183vw;
  top: 8.8375vw;
  width: 1.5625vw;
}

.star-icon {
  left: 69.364583vw;
  top: 14.2416vw;
  width: 9.02083vw;
}

.message-icon {
  left: 52.6125vw;
  top: 11.69416vw;
  width: 6.09375vw;
}

.main-info {
  background: url('./assets/main-info.png') 0 0/cover no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.8073684210526316vw var(--leftmargin);
}

.company-logo {
  width: 6.184375vw;
}

.company-logo:hover {
  scale: 1.1;
}

.header-links-block {
  margin-left: 5.6947916vw;
}

.header-links-block>a:not(:last-child) {
  padding-right: 3.24583vw;
}

.how-it-works-link {
  color: var(--portage);
  font-weight: 700;
}

.how-it-works-link:hover {
  color: var(--hotpink);
}

.sign-block {
  align-items: center;
  display: flex;
}

.sign-in-link {
  color: var(--portage);
}

.sign-in-link:hover {
  color: var(--hotpink);
}

.sign-up-button {
  background-color: var(--portage);
  box-shadow: var(--boxshadowsize) rgba(var(--fuchsiablue), 0.3);
  border: none;
  color: var(--white);
  height: 2.864583vw;
  line-height: 2.864583vw;
  margin-left: 2.283vw;
  text-align: center;
  transition: background-color 1s, color 1s;
  width: 6.77083vw;
}

.sign-up-button:hover {
  background-color: var(--white);
  color: var(--portage);
  cursor: pointer;
}

.banner {
  align-items: center;
  display: flex;
  margin: 0 0 0 var(--leftmargin);
}

.banner-controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.302083vw;
  width: 32.283vw;
}

.banner-title {
  font-size: 5vw;
  line-height: 5.72916vw;
  margin-bottom: 1.302083vw;
}

.banner-description {
  line-height: 1.4583vw;
  padding-bottom: 2.725vw;
  width: 30.2083vw;
}

.create-account-button {
  box-shadow: var(--boxshadowsize) rgba(var(--thistle), 0.3);
  border: none;
  background-color: var(--white);
  color: var(--portage);
  font-weight: 500;
  font-size: var(--smallsize);
  height: var(--commonheight);
  margin-right: 2.083vw;
  transition: background-color 1s, color 1s;
  text-align: center;
  width: 10.416vw;
}

.create-account-button:hover {
  background-color: var(--portage);
  color: var(--white);
  cursor: pointer;
}

.play-button {
  height: var(--commonheight);
  margin-right: 1.0416vw;
  width: var(--commonheight);
}

.play-button:hover {
  cursor: pointer;
  scale: 1.1;
}

.see-how-it-works-link {
  color: var(--mirage);
  font-size: var(--smallsize);
  font-weight: 500;
  height: var(--commonheight);
  line-height: var(--commonheight);
  text-align: center;
}

.see-how-it-works-link:hover {
  color: var(--comet);
  cursor: pointer;
}

.credit-card-image {
  padding: 1vw 0 0 5.016vw;
  width: 48.947916vw;
}

/* Choose us */
.why-choose-us-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10.85vw var(--leftmargin) 0;
  text-align: center;
}

.choose-us-text h1 {
  margin-left: 5.5vw;
}

.choose-us-text p:last-child {
  margin: 1.3vw 0 0 24.5vw;
  width: 29.6875vw;
}

.our-advantages {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3.6875vw;
}

.advantage-image {
  height: 13.916vw;
}

.advantage-image:hover {
  scale: 1.1;
}

.our-advantages p:nth-of-type(2n+1) {
  color: var(--mirage);
  font-weight: 700;
  font-size: var(--mediumsize);
  margin-bottom: 1.302083vw;
}

.our-advantages p:nth-of-type(2n+2) {
  line-height: 1.4583vw;
  width: 22.4375vw;
}

.curved-dotted-line {
  left: 28.489583vw;
  margin-top: -4.54583vw;
  position: absolute;
  width: 43.072916vw;
  z-index: -1;
}

hr {
  border: 0;
  border-top: 1px solid var(--mystic);
  display: block;
  margin: 6.77083vw auto 6.77083vw;
  width: 73.4375vw;
}

/* How does it works */
.how-works {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 calc(var(--leftmargin) - 0.9vw) 0 6.97916vw;
}

.with-coffee-note {
  width: 38.072916vw;
}

.with-coffee-note:hover {
  scale: 1.1;
}

.how-description {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.7vw;
  width: 32.25vw;
}

.how-description h1+p {
  color: var(--mirage);
  line-height: 1.197916vw;
  margin: 1.1vw 0 3.7vw;
}

.how-images {
  height: var(--commonheight);
  width: var(--commonheight);
}

.how-images:hover {
  scale: 1.1;
}

.how-description>p:nth-of-type(1n + 2) {
  color: var(--mirage);
  font-size: calc(var(--mediumsize) - 0.35vw);
  font-weight: 700;
  line-height: 1.62083vw;
  margin: 0 0 2.6vw 1.1vw;
  width: 26.822916vw;
}

.how-description p>span {
  font-size: var(--normalsize);
  font-weight: 450;
}

/* Sponsors */
.sponsors-logo {
  display: flex;
  margin: 9.016vw 11.71875vw 7.6875vw 12.64375vw;
}

.sponsors-logo img {
  margin-right: -1.7vw;
  width: 13.9375vw;
}

.sponsors-logo img:hover {
  cursor: pointer;
  scale: 1.1;
}

/* Downloads */
.download-apps {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 13vw 0 var(--leftmargin);
}

.buttons-block {
  display: flex;
  flex-wrap: wrap;
  margin: 7.214583vw 8.87916vw 0 0;
  width: 31.09375vw;
}

.buttons-block>p:nth-of-type(1) {
  font-weight: 450;
  line-height: 1.197916vw;
  margin: 2.54375vw 0 2.3vw 0;
}

.buttons-block div {
  align-items: center;
  background-color: var(--white);
  border: none;
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadowsize) rgba(var(--mischka), 0.45);
  display: flex;
  font-size: 1.0416vw;
  gap: 0.83vw;
  height: var(--commonheight);
  justify-content: center;
  margin-right: 1.6vw;
  text-align: center;
  transition: cursor 1s;
  width: 11.09375vw;
}

.buttons-block div:hover {
  scale: 1.1;
}

.buttons-block .apple-store {
  background-color: var(--portage);
  box-shadow: var(--boxshadowsize) rgba(var(--portagea), 0.35);
}

.buttons-block div>img {
  width: 1.302083vw;
}

.buttons-block div>p {
  margin-top: 0.2vw;
  color: var(--portage);
}

.buttons-block .apple-store>p {
  margin-top: 0.3vw;
  color: var(--white);
}

.iphone-circle {
  width: 28.64583vw;
}

.iphone-circle:hover {
  scale: 1.1;
}

.buttons-block>div:hover {
  cursor: pointer;
}

/* Features */
.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10.5375vw var(--leftmargin);
}

.features-block>div:first-child {
  margin: 0 0 0 22.5083vw;
  text-align: center;
}

.features-block p:nth-of-type(1) {
  line-height: 1.197916vw;
  margin: 1vw 0 0 1.9083vw;
  width: 29.6875vw;
}

.features-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
}

.features-images>div {
  align-items: center;
  background: rgba(var(--hotpinka), 0.1);
  border: none;
  color: var(--mirage);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 1.4583vw;
  gap: 2.34375vw;
  height: 15vw;
  justify-content: center;
  margin-top: 2.9125vw;
  text-align: center;
  width: 17.1875vw;
}

.features-images>div:hover {
  scale: 1.1;
}

.features-images img {
  width: 3.64583vw;
}

/* Customer support */
.customer-support {
  background: url('./assets/customer-support.png') 0 0/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -0.1vw;
  padding: 7.37083vw 12.760416vw 5.17083vw;
}

.customer-support h1 {
  color: var(--white);
}

.customer-support p:nth-of-type(1) {
  color: var(--white);
  margin: 1.602083vw 0;
}

.call-us {
  align-items: center;
  background-color: var(--white);
  border: none;
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadowsize) rgba(var(--purpleheart), 0.4);
  display: flex;
  font-size: var(--smallsize);
  gap: 1.0416vw;
  height: var(--commonheight);
  justify-content: center;
  margin: 0.7vw 0 0;
  text-align: center;
  width: 10.10416vw;
}

.customer-support .call-us>p {
  margin-top: 1.8vw;
  color: var(--hotpink);
}

.call-us:hover {
  cursor: pointer;
  scale: 1.1;
}

.customer-support img {
  width: 1.25vw;
}

/* Footer */
footer {
  align-items: center;
  background: linear-gradient(90deg,
      var(--tutu) 0%,
      var(--zircon) 51.56%,
      var(--solitude) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6.27083vw var(--leftmargin) 1.822916vw;
}

.links-block>a {
  color: var(--comet);
  font-size: var(--smallsize);
  margin-left: 0.8vw;
}

.links-block>a:hover {
  color: var(--portage);
}

.links-block>a:not(:last-child) {
  padding-right: 1.34583vw;
}

.social-networks img {
  margin-left: 0.65vw;
  width: 1.0416vw;
}

.social-networks img:hover {
  scale: 1.7;
}

footer>hr {
  margin: 3.010416vw 0 1.822916vw;
  width: 100%;
}

footer>p {
  font-size: 0.72916vw;
  text-align: center;
  width: 100%;
}
